<%- include('../includes/header')  %>
<div class="barre_recherche">
  <form action="" method="post">
    <input type="text" placeholder="Rechercher produit...">
    <button>Recherche</button>
  </form>
</div>
<div class="voir_panier">
  <div class="titre_panier">Archive des commande des clients</div>
  <div class="panier">
    <table>
      <thead>
        <tr>
          <th>Photo du client</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Nombre de produit</th>
          <th>Montant</th>
          <th>Adresse de reception</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% mon_Archive.forEach(archive => { %>
        <tr>
          <td><img src="<%= archive.photo_client %>" alt=""></td>
          <td><%= archive.nom %></td>
          <td><%= archive.prenom %></td>
          <td><a href="mailto:<%= archive.email%>"><%= archive.email %></a></td>
          <td><a href="tel:<%= archive.contact %>">0707965744</a></td>
          <td><%= archive.nombre_produit %></td>
          <td><%= archive.prix_total%> f</td>
          <td><%= archive.addresse_reception %></td>
          <td><a href="">Supprimer</a></td>
        </tr>
        <% }) %>

      </tbody>
    </table>
    <div class="envoi">
      <form action="" method="post">
        <button>Retour</button>
      </form>
    </div>
  </div>
</div>

<%- include('../includes/footer')  %>